<div class="footer-wrapper">
  <div class="footer-content-wrapper">
    <section aria-label="Footer Menu Site Links">
      <div class="footer-top-bar">
        <div class="date">
          <p>Today's Date: {{today | date: "hh:mm a"}} ET, {{today| date: "MM/dd/yyyy"}}</p>
        </div>
        <div class="oyt">
          <img src="/oyt.webp" alt="Own Your Tomorrow hand written" />
        </div>
      </div>
      <section class="to-top">
        <p>Check the background of Charles Schwab or one of its investment professionals on <a href="https://brokercheck.finra.org/">FINRA'S BrokerCheck.</a></p>
        <div class="arrow">
          <img src="/up-arrow.png" alt="arrow to top of page"><a href="#top">Back to Top</a>
        </div>
      </section>
      <section class="footer-menu-main">
        <div class="col">
          <h1>Accounts</h1>
          <ul>
            <li><a href="#">Summary</a></li>
            <li><a href="#">Balances</a></li>
            <li><a href="#">Positions</a></li>
            <li><a href="#">Realized Gain / Loss</a></li>
            <li><a href="#">Investment Income</a></li>
            <li><a href="#">Portfolio Performance</a></li>
            <li><a href="#">Securities Lending</a></li>
            <li><a href="#">Corporate Actions</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Statements & Tax Forms</a></li>
            <li><a href="#">Open An Account</a></li>
            <li><a href="#">Relationship Summary</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Trade</h1>
          <ul>
            <li><a href="#">All-In-One Trade Ticket</a></li>
            <li><a href="#">Sock & EFTs</a></li>
            <li><a href="#">Options</a></li>
            <li><a href="#">Mutual Funds</a></li>
            <li><a href="#">Schwab Stock Slices™</a></li>
            <li><a href="#">Schwab Investing Themes™</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Bonds</a></li>
            <li><a href="#">CDs</a></li>
            <li><a href="#">Futures</a></li>
            <li><a href="#">Forex</a></li>
            <li><a href="#">IPOs</a></li>
            <li><a href="#">Trading Platforms</a></li>
            <li><a href="#">Watchlist</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Research</h1>
          <ul>
            <li><a href="#">U.S. Markets</a></li>
            <li><a href="#">International Markets</a></li>
            <li><a href="#">Research Tools</a></li>
            <li><a href="#">Watchlist</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Move Money</h1>
          <ul>
            <li><a href="#">Transfers & Payments</a></li>
            <li><a href="#">Recent Transfer Activity</a></li>
            <li><a href="#">Online Transfer</a></li>
            <li><a href="#">External Accounts</a></li>
            <li><a href="#">Send Wire</a></li>
            <li><a href="#">Pay Bills</a></li>
            <li><a href="#">Request Check</a></li>
            <li><a href="#">Transfer Account</a></li>
            <li><a href="#">Routing Numbers & Direct Deposit</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Products</h1>
          <ul>
            <li><a href="#">Ways to Invest</a></li>
            <li><a href="#">Account Types</a></li>
            <li><a href="#">Retirement & IRAs</a></li>
            <li><a href="#">Banking & Borrowing</a></li>
            <li><a href="#">Trading</a></li>
            <li><a href="#">Investment Products</a></li>
            <li><a href="#">Advice Solutions</a></li>
            <li><a href="#">Financial Planning</a></li>
            <li><a href="#">Work With a Consultant</a></li>
            <li><a href="#">Featured Offerings</a></li>
            <li><a href="#">Commissions & Fees</a></li>
            <li><a href="#">Investing & Planning Tools</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Learn</h1>
          <ul>
            <li><a href="#">Insights & Education</a></li>
            <li><a href="#">Market Commentary</a></li>
            <li><a href="#">Trading</a></li>
            <li><a href="#">thinkorswim Demos</a></li>
            <li><a href="#">Planning & Retirement</a></li>
            <li><a href="#">Tax Center</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Schwab Coaching™</a></li>
            <li><a href="#">Onward Magazine</a></li>
            <li><a href="#">Podcasts</a></li>
            <li><a href="#">Schwab Network</a></li>
            <li><a href="#">New Client Welcome Center</a></li>
          </ul>
        </div>
      </section>
    </section>
  </div>
</div>
