<div class="col-wrapper">
  <div class="col">
    <h1>Accounts</h1>
    <hr>
    <ul>
      <li><a href="#">Brokerage and Trading</a></li>
      <li><a href="#">Retirement Accounts (IRAs)</a></li>
      <li><a href="#">Education and Custodial</a></li>
      <li><a href="#">Personal Choice Retirement</a></li>
      <li><a href="#">Small Business</a></li>
      <li><a href="#">Accounts by Financial Goal</a></li>
    </ul>
    <app-button>Open an Account</app-button>
  </div>
  <div class="col">
    <h1>Trading</h1>
    <hr>
    <ul>
      <li><a href="#">Schwab Trading Powered by Ameritrade&#8482;</a></li>
      <li><a href="#">thinkorswim&#174; Trading Platforms</a></li>
      <li><a href="#">Platforms Overview</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Order Execution</a></li>
      <li><a href="#">Research</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Investment Products</h1>
    <hr>
    <ul>
      <li><a href="#">Mutual Funds</a></li>
      <li><a href="#">ETFs</a></li>
      <li><a href="#">Stocks</a></li>
      <li><a href="#">Options</a></li>
      <li><a href="#">Futures</a></li>
      <li><a href="#">Bonds, CDs & Fixed Income</a></li>
      <li><a href="#">Money Market Funds</a></li>
      <li><a href="#">Cash Solutions & Rates</a></li>
      <li><a href="#">Annuities</a></li>
      <li><a href="#">Cryptocurrency</a></li>
      <li><a href="#">More Investment Products</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Banking & Borrowing</h1>
    <hr>
    <ul>
      <li><a href="#">Bank Offerings</a></li>
      <li><a href="#">Checking</a></li>
      <li><a href="#">Savings</a></li>
      <li><a href="#">Home Loans & Rates</a></li>
      <li><a href="#">Strategic Borrowing</a></li>
      <li><a href="#">Credit Cards</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Featured Offerings</h1>
    <hr>
    <ul>
      <li><a href="#">Schwab Investing Themes&#8482;</a></li>
      <li><a href="#">Schwab Starter Kit&#8482;</a></li>
      <li><a href="#">Schwab Stock Slices&#8482;</a></li>
      <li><a href="#">Schwab Personalized Indexing&#8482;</a></li>
      <li><a href="#">Generating Retirement Income</a></li>
      <li><a href="#">Tax-Efficient Investing</a></li>
      <li><a href="#">Schwab Personal Trust Services</a></li>
    </ul>
  </div>
</div>
