<div class="col-wrapper" (mouseleave)="closeDialog()">
  <div class="col">
    <h1>Insights & Education</h1>
    <hr />
    <ul>
      <li><a href="#">Overview</a></li>
      <li><a href="#">Stocks</a></li>
      <li><a href="#">ETFs</a></li>
      <li><a href="#">Mutual Funds</a></li>
      <li><a href="#">Bonds</a></li>
      <li><a href="#">Fixed Income</a></li>
      <li><a href="#">Portfolio Management</a></li>
      <li><a href="#">Options</a></li>
      <li><a href="#">Futures</a></li>
      <li><a href="#">Forex</a></li>
      <li><a href="#">Technical Analysis</a></li>
      <li><a href="#">Fundamental Analysis</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Trading</h1>
    <hr />
    <ul>
      <li><a href="#">Overview</a></li>
      <li><a href="#">thinkorswim Demos</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Market Commentary</h1>
    <hr />
    <ul>
      <li><a href="#">Overview</a></li>
      <li><a href="#">Government Policy</a></li>
      <li><a href="#">International</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Planning & Retirement</h1>
    <hr />
    <ul>
      <li><a href="#">Financial Planning</a></li>
      <li><a href="#">College & Education</a></li>
      <li><a href="#">Estate Planning</a></li>
      <li><a href="#">Saving for Retirement</a></li>
      <li><a href="#">Living in Retirement</a></li>
      <li><a href="#">Tax Planning</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Media</h1>
    <hr />
    <ul>
      <li><a href="#">Onward Magazine</a></li>
      <li><a href="#">Podcasts</a></li>
      <li><a href="#">Schwab Coaching</a></li>
      <li><a href="#">Schwab Network</a></li>
    </ul>
  </div>
</div>
