h1 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #344551;
  white-space: nowrap;
}

.col-wrapper {
  display: flex;
  flex: 0 0 auto;
}

.col {
  width: fit-content;
  line-height: 22px;
  float: left;
  margin-right: 20px;
  white-space: nowrap;
}

.col ul {
  list-style: none;
}

.col li a {
  font-size: 14px;
  text-decoration: none;
  color: #344551;
}

.col li a:hover {
  text-decoration: underline;
}