<div class="nav-wrapper">
  <nav>
    <a href="/">
      <div class="nav-logo">
        <p>Mock</p>
        <p>Site</p>
      </div>
    </a>
    <div class="menus">
      <div class="nav-top-menu">
        <ul class="no-bullet">
          <li>
            <a href="#"
              ><img src="/sch-loc.png" alt="locator icon" />Find a Branch</a
            >
          </li>
          <li>
            <a href="#"
              ><img src="/phone-504.png" alt="phone icon" />Contact Us<img
                class="login-arrow"
                src="/down-arrow.png"
                alt="down arrow"
            /></a>
          </li>
          <li>Search</li>
          <li>
            <a href="#"
              >Log In
              <img class="login-arrow" src="/down-arrow.png" alt="down arrow"
            /></a>
          </li>
        </ul>
      </div>
      <div class="nav-bottom-bar">
        <div class="nav-bottom-menu">
          <ul class="no-bullet">
            <li (mouseover)="openDialogAccounts()">Accounts & Products</li>
            <li>Advice</li>
            <li>Pricing</li>
            <li>Why Schwab</li>
            <li>Learn</li>
          </ul>
        </div>
        <app-button>Open an Account</app-button>
      </div>
    </div>
  </nav>
</div>
