<div class="col-wrapper" (mouseleave)="closeDialog()">
  <div class="col">
    <h1>Advice Solutions</h1>
    <hr>
    <ul>
      <li><a href="#">Automated Investing</a></li>
      <li><a href="#">Automated Investing with Guidance</a></li>
      <li><a href="#">Schwab Wealth Advisory&#8482;</a></li>
      <li><a href="#">More Advice Solutions</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Financial Planning</h1>
    <hr>
    <ul>
      <li><a href="#">Financial PLanning Offering</a></li>
      <li><a href="#">How Much You Need to Retire</a></li>
      <li><a href="#">Planning Calculators</a></li>
      <li><a href="#">Complimentary Plan</a></li>
    </ul>
  </div>
</div>
