<div class="col-wrapper" (mouseleave)="closeDialog()">
  <div class="col">
    <h1>The Schwab Difference</h1>
    <hr>
    <ul>
      <li><a href="#">Why Choose Schwab</a></li>
      <li><a href="#">Our Education</a></li>
      <li><a href="#">Our Satisfaction Guarantee</a></li>
      <li><a href="#">Our Schwab Security</a></li>
      <li><a href="#">Our Experts</a></li>
      <li><a href="#">Our Account Protections</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Ways to Invest with Us</h1>
    <hr>
    <ul>
      <li><a href="#">Overview</a></li>
      <li><a href="#">Self-Directed Investing</a></li>
      <li><a href="#">Active Trading</a></li>
      <li><a href="#">Automated Investing</a></li>
      <li><a href="#">Wealth and Investment Management Solutions</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>How We Compare</h1>
    <hr>
    <ul>
      <li><a href="#">Compare Us to Our Competitors</a></li>
      <li><a href="#">See Our #1 Rankings</a></li>
    </ul>
  </div>
</div>
