<div class="nav-wrapper">
  <nav>
    <a href="/clientapps/accounts/summary">
      <div class="nav-logo">
        <p>Mock</p>
        <p>Site</p>
      </div>
    </a>
    <div class="menus-wrapper">
      <div class="menu-main">
        <ul>
          @for (item of mainMenu; track item.title) { @if (item.title ===
          "Accounts") {
          <li
            #firstMenuItem
            (mouseover)="openDialog($event, item.component)"
            [class.active]="currentlyActive === item.title"
          >
            {{ item.title }}
          </li>
          } @else {
          <li
            (mouseover)="openDialog($event, item.component)"
            [class.active]="currentlyActive === item.title"
          >
            {{ item.title }}
          </li>
          } }
        </ul>
      </div>
      <div class="nav-utilities">
        <ul>
          <li><img src="/search.png" alt="search icon" /></li>
          <li><img src="/envelope.png" alt="messages icon" /></li>
          <li><img src="/headphones.png" alt="contact us icon" /></li>
          <li><img src="/profile.png" alt="account icon" /></li>
          <li>Log Out</li>
        </ul>
      </div>
    </div>
    <div class="sub-menu">
      <ul>
        @for (route of currentLinks; track route.title) {
        <li>
          <a
            routerLink="{{ route.route }}"
            routerLinkActive="sub-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ route.title }}</a
          >
        </li>
        }
      </ul>
    </div>
  </nav>
</div>
