<div class="footer-wrapper">
  <div class="footer-content-wrapper">
    <section aria-label="Footer Menu Site Links">
      <div class="footer-top-bar">
        <div class="social-media">
          <a href="#"><img src="/youtube.png" alt="YouTube logo" /></a>
          <a href="#"><img src="/twitter.png" alt="Twitter logo" /></a>
          <a href="#"><img src="/facebook.png" alt="Facebook logo" /></a>
          <a href="#"><img src="/linkedin.png" alt="LinkedIn logo" /></a>
        </div>
        <div class="oyt">
          <img src="/oyt.webp" alt="Own Your Tomorrow hand written" />
        </div>
      </div>
      <div class="footer-menu-main">
        <div class="col">
          <h1>Accounts</h1>
          <ul>
            <li><a href="#">Brokerage</a></li>
            <li><a href="#">401(k) Rollover</a></li>
            <li><a href="#">Individual Retirement Accounts (IRAs)</a></li>
            <li><a href="#">Schwab Bank Checking</a></li>
            <li><a href="#">Small Business Retirement</a></li>
            <li><a href="#">See More Accounts</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Investment Products</h1>
          <ul>
            <li><a href="#">Stocks</a></li>
            <li><a href="#">Mutual Funds</a></li>
            <li><a href="#">Exchange Traded Funds (ETFs)</a></li>
            <li><a href="#">Annuities</a></li>
            <li><a href="#">Bonds</a></li>
            <li><a href="#">See More Investment Products</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Trading</h1>
          <ul>
            <li><a href="#">Trading Platforms</a></li>
            <li><a href="#">Execution Quality</a></li>
            <li><a href="#">Options</a></li>
            <li><a href="#">Futures</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Research & Tools</h1>
          <ul>
            <li><a href="#">Retirement Calculator</a></li>
            <li><a href="#">Roth vs Traditional IRA Calculator</a></li>
            <li><a href="#">Research Tools</a></li>
            <li><a href="#">Mobile Apps</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>Learn</h1>
          <ul>
            <li><a href="#">Insights & Education</a></li>
            <li><a href="#">Trading</a></li>
            <li><a href="#">Market Commentary</a></li>
            <li><a href="#">Planning & Retirement</a></li>
            <li><a href="#">Podcasts</a></li>
            <li><a href="#">Schwab Network</a></li>
          </ul>
        </div>
        <div class="col">
          <h1>About Schwab</h1>
          <ul>
            <li><a href="#">Why Schwab</a></li>
            <li><a href="#">Compare Us</a></li>
            <li><a href="#">Satisfaction Guarantee</a></li>
            <li><a href="#">Forms & Applications</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Notify us of a Death</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section aria-label="Footer Information Links">
      <div class="footer-information">
        <ul>
          <li><a href="#">SchwabSafe</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Additional Schwab Sites</a></li>
          <li><a href="#">Site Map</a></li>
          <li><a href="#">Business Continuity</a></li>
          <li><a href="#">Financial Statement</a></li>
          <li><a href="#">Accessibility Help</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Schwab</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Investment Professionals Compensation</a></li>
          <li><a href="#">Important Notices</a></li>
          <li><a href="#">Account Protection</a></li>
          <li><a href="#">SIPC&reg;</a></li>
          <li><a href="#">FDIC Insurance</a></li>
          <li><a href="#">FINRA's Broker Check</a></li>
          <li><a href="#">Bank Client Complaints</a></li>
          <li><a href="#">Client Relationship Summaries</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>
