<div class="col-wrapper" (mouseleave)="closeDialog()">
  <div class="col">
    <h1>Pricing</h1>
    <hr>
    <ul>
      <li><a href="#">Commission and Fees</a></li>
      <li><a href="#">Understanding Investment Fees</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Transferring Accounts</h1>
    <hr>
    <ul>
      <li><a href="#">Costs and Considerations</a></li>
    </ul>
  </div>
  <div class="col">
    <h1>Other Details</h1>
    <hr>
    <ul>
      <li><a href="#">Client Relationship Summaries</a></li>
    </ul>
  </div>
</div>

